img {
    max-height: 300px;
    width: auto;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    

}

.carousel{
    height: 300px;
    cursor: pointer;
    
}

.carousel-caption{
    top: 50%;
    left: 70% !important;
    color: royalblue !important;
    transform: translateY(-29%);
}



.carousel-control-next-icon{
    height: 50px !important;
    width: 50px !important;
    background-image : url("https://img.icons8.com/ios/100/000000/forward--v1.png") !important;
}

.carousel-control-prev-icon{
    height: 50px !important;
    width: 50px !important;
  background-image : url("https://img.icons8.com/ios/100/000000/back--v1.png") !important;
}

