.auth-style{
    box-shadow:  1px 4px 22px 2px #e4e4e4;
    margin-top: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    
 }

.cart-style{
    box-shadow:  1px 4px 22px 2px #e4e4e4;
    margin-top: 30px; 
    padding-top: 20px; 
    max-width: 576px;
    padding-bottom: 10px;
 }
.order-style{
    box-shadow:  1px 4px 22px 2px #e4e4e4;
    margin-bottom: 15px;
    padding-top: 20px; 
    max-width: 576px;

 }

 
 .modal {
     height: auto !important;
     top: auto !important;
     left: auto !important;
}
    
    .img-order{
        object-fit: cover;
        width: 40px;
        max-height: 40px;
        margin-right: 5px;
    }
    
.badge{
    /* padding: 3px !important; */
    font-size: small !important;
    right: 0% !important;
    justify-content: end !important;
    
    margin-right: 0em !important;
}
    
@media only screen and (max-width:480px) {    
       .order-style{
           box-shadow:  1px 4px 22px 2px #e4e4e4;
           margin-bottom: 15px;
           padding-top: 20px; 
           max-width: 576px;
           margin-left: 0%;

       
        }
   }